/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #2A4A58;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

.enFont {
  font-family: "Montserrat", sans-serif;
}

.pcOnly {
  display: block;
}
@media screen and (max-width: 660px) {
  .pcOnly {
    display: none;
  }
}

.spOnly {
  display: none;
}
@media screen and (max-width: 660px) {
  .spOnly {
    display: block;
  }
}

.pageTop {
  position: fixed;
  right: 30px;
  bottom: 90px;
  width: 80px;
  height: 80px;
}
@media screen and (max-width: 660px) {
  .pageTop {
    right: 10px;
    bottom: 60px;
    width: 60px;
    height: 60px;
  }
}
.pageTop.js-hide {
  display: none;
}
@media (hover: hover) and (pointer: fine) {
  .pageTop:hover {
    opacity: 0.8;
    transition: 0.3s;
  }
}

.button {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 72px 10px 16px;
  border-radius: 5px;
  background: #2A4A58;
  transition: 0.3s;
}
@media screen and (max-width: 660px) {
  .button {
    min-width: 200px;
    padding: 16px 72px 16px 16px;
  }
}
.button span {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}
.button span::after {
  position: absolute;
  bottom: 5px;
  right: -48px;
  transform: skewX(60deg);
  display: block;
  width: 20px;
  height: 5px;
  border-right: solid 2px #fff;
  border-bottom: solid 1px #fff;
  transition: 0.3s;
  content: "";
}
@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background: #8DB1C0;
    transition: 0.3s;
  }
  .button:hover span::after {
    right: -58px;
    width: 30px;
  }
}

.lead {
  padding: 56px 10px;
}
@media screen and (max-width: 660px) {
  .lead {
    padding: 32px 10px;
  }
}
.lead__text {
  text-align: center;
  font-size: 1rem;
  line-height: 1.8;
}

.contentWrapper {
  max-width: 1024px;
  padding: 0 10px;
  margin: 0 auto;
}

.titleWrapper {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 24px;
  margin-bottom: 56px;
}
@media screen and (max-width: 660px) {
  .titleWrapper {
    padding-bottom: 16px;
    margin-bottom: 32px;
  }
}
.titleWrapper ::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 21px;
  height: 2px;
  background: #2A4A58;
  content: "";
}
.titleWrapper__title {
  font-size: clamp(1.44rem, 1.52vw + 1.13rem, 2.5rem);
  font-weight: 700;
  line-height: 1;
}
.titleWrapper__img {
  position: absolute;
  left: 71%;
  top: 48px;
}
@media screen and (max-width: 660px) {
  .titleWrapper__img {
    left: 78%;
    top: 25px;
    width: 80%;
  }
}

.works {
  margin-bottom: 80px;
}
.works__list {
  display: grid;
  gap: 48px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.works__item {
  border: 1px solid #8DB1C0;
  border-radius: 10px;
}
.works__button {
  margin-top: 24px;
}

@media (hover: hover) and (pointer: fine) {
  .card:hover {
    box-shadow: 0 0 10px #8db1c0;
  }
}
.card a {
  display: inline-block;
}
.card__thumb {
  width: 100%;
  aspect-ratio: 30/19;
  border-radius: 9px 9px 0 0;
}
.card__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}
.card__title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.3;
}

.tags {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  flex-wrap: wrap;
}

.tag {
  padding: 4px 8px;
  border-radius: 990px;
  background: #2A4A58;
}

.tag {
  color: #fff;
  font-size: 0.812rem;
  line-height: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
@media screen and (max-width: 660px) {
  .header {
    flex-direction: column;
    gap: 12px;
  }
}
.header__logo {
  width: 15%;
  max-width: 239px;
}
@media screen and (max-width: 660px) {
  .header__logo {
    width: 80%;
    max-width: 355px;
    margin: 0 auto;
  }
}
.header__logo img {
  width: 100%;
}
.header__navList {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 660px) {
  .header__navList {
    grid-area: 16px;
  }
}
.header__navItem a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 8px 12px 12px;
  font-size: 1rem;
  transition: 0.3s;
}
.header__navItem a::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 10px;
  height: 1px;
  background: #2A4A58;
  transition: 0.3s;
  content: "";
}
@media (hover: hover) and (pointer: fine) {
  .header__navItem a:hover {
    color: #8DB1C0;
    transition: 0.3s;
  }
  .header__navItem a:hover::after {
    background: #8DB1C0;
  }
}
.header__navItem a span {
  font-size: 0.812rem;
}

.footer {
  padding: 16px 0;
  background: #2A4A58;
}
.footer small {
  display: block;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  text-align: center;
}

.cta {
  padding: 32px 0;
  background: radial-gradient(rgb(164, 213, 234), rgba(164, 213, 234, 0.36) 25%, rgba(164, 213, 234, 0.13) 69%, rgb(164, 213, 234));
}
.cta__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
}
@media screen and (max-width: 660px) {
  .cta__inner {
    flex-direction: column;
    padding: 0 10px;
  }
}
.cta__content {
  width: 50%;
}
.cta__title {
  margin-bottom: 16px;
  font-size: clamp(1.44rem, 1.52vw + 1.13rem, 2.5rem);
  font-weight: 700;
  line-height: 1.3;
}
.cta__messageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  margin-bottom: 32px;
}
.cta__message {
  font-size: 1rem;
  line-height: 1.8;
}
.cta__img {
  width: 50%;
}
@media screen and (max-width: 660px) {
  .cta__img {
    width: 100%;
  }
}

.mainVisual {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 426px;
}
@media screen and (max-width: 660px) {
  .mainVisual {
    min-height: 355px;
    margin-bottom: 40px;
  }
}
.mainVisual__content {
  width: 68%;
  max-width: 1024px;
  padding-top: 250px;
  padding-bottom: 250px;
}
@media screen and (max-width: 660px) {
  .mainVisual__content {
    width: 100%;
    max-width: 355px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
.mainVisual__img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 42%;
  max-width: 645px;
}
@media screen and (max-width: 660px) {
  .mainVisual__img {
    top: 40%;
    transform: none;
    width: 61%;
  }
}
.mainVisual__textWrapper {
  position: relative;
}
.mainVisual__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
}
@media screen and (max-width: 660px) {
  .mainVisual__description {
    gap: 16px;
  }
}
.mainVisual__title {
  font-size: clamp(1.25rem, 3.02vw + 0.65rem, 3.5rem);
  font-weight: 700;
  text-align: right;
  line-height: 1.5;
}
.mainVisual__text {
  font-size: clamp(1rem, 0.67vw + 0.87rem, 1.5rem);
  font-weight: bold;
  text-align: right;
  line-height: 1.5;
}
.mainVisual__button {
  margin-left: auto;
}

#text {
  position: absolute;
  top: -28%;
  right: -10%;
  width: 46%;
  height: auto;
}
@media screen and (max-width: 660px) {
  #text {
    top: -20%;
    right: 45%;
    width: 55%;
    transform: rotate(343deg);
  }
}

#base path {
  fill: #8DB1C0;
}

#mask path {
  fill: none;
  stroke: #ffffff;
  stroke-width: 10px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.service {
  margin-bottom: 80px;
}
.service__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3em;
}
.service__item {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;
  row-gap: 16px;
}
@media screen and (max-width: 660px) {
  .service__item {
    row-gap: 8px;
  }
}
.service__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
}
.service__description {
  font-size: 1rem;
  line-height: 1.8;
}
.service__button span {
  font-size: 1rem;
}

.achievement {
  max-width: 620px;
  margin: 0 auto 56px;
  padding: 0 10px;
}
.achievement .tags {
  margin-bottom: 40px;
}
.achievement__title {
  margin-bottom: 40px;
  font-size: clamp(1.44rem, 1.52vw + 1.13rem, 2.5rem);
  font-weight: 700;
  line-height: 1.5;
}
.achievement__main {
  margin-bottom: 24px;
}
.achievement__img {
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
.achievement__caption {
  margin-top: 8px;
  color: #666;
  font-size: 0.812rem;
  text-align: right;
}
.achievement__content {
  margin-bottom: 24px;
}
.achievement__contentImg {
  margin-bottom: 16px;
}
.achievement__textWrapper {
  margin-bottom: 16px;
}
.achievement__text {
  font-size: 1rem;
  line-height: 1.8;
}

.intention__title {
  position: relative;
  padding-bottom: 8px;
  border-bottom: solid 2px #8DB1C0;
  margin-bottom: 24px;
  font-size: clamp(1.13rem, 0.54vw + 1.02rem, 1.5rem);
  font-weight: 700;
}
.intention__title::after {
  position: absolute;
  bottom: -2px;
  display: block;
  width: 20%;
  border-bottom: solid 2px #2A4A58;
  content: "";
}
.intention__list {
  list-style-type: disc;
  padding-left: 24px;
}
.intention__item {
  margin-bottom: 8px;
}

.prev_next {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 620px;
  margin: 0 auto 80px;
  padding: 0 10px;
}
.prev_next__button {
  width: 25%;
  line-height: 1.5;
  font-size: 0.812rem;
}
.prev_next__prev {
  position: relative;
  display: block;
}
.prev_next__prev span {
  position: relative;
  display: inline-block;
}
.prev_next__prev span::after {
  position: absolute;
  bottom: 8px;
  left: -32px;
  transform: skewX(-60deg);
  display: block;
  width: 30px;
  height: 8px;
  border-left: solid 2px #2A4A58;
  border-bottom: solid 1px #2A4A58;
  transition: 0.3s;
  content: "";
}
@media (hover: hover) and (pointer: fine) {
  .prev_next__prev:hover span {
    text-decoration: underline;
    transition: 0.3s;
  }
  .prev_next__prev:hover span::after {
    left: -42px;
    width: 40px;
    transition: 0.3s;
  }
}
.prev_next__next {
  position: relative;
  display: block;
}
.prev_next__next span {
  position: relative;
  display: inline-block;
}
.prev_next__next span::after {
  position: absolute;
  bottom: 8px;
  right: -32px;
  transform: skewX(60deg);
  display: block;
  width: 30px;
  height: 8px;
  border-right: solid 2px #2A4A58;
  border-bottom: solid 1px #2A4A58;
  transition: 0.3s;
  content: "";
}
.prev_next__next:hover span {
  text-decoration: underline;
  transition: 0.3s;
}
.prev_next__next:hover span::after {
  right: -42px;
  width: 40px;
  transition: 0.3s;
}